*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    max-height: 100%;
}

body {
    background-color: aliceblue;
    font-family: 'Open Sans', sans-serif;
    color: rgb(46, 40, 86);
}

main {
    display: flex;
    max-width: min(1200px, 100vw);
    margin: 0 auto;
    padding: 1em 0.75em 0;
}

.column-left {
    flex: 0 0 auto;
    width: max(12.5%, 10em);
    min-width: 10em;
    margin: 0 1em;
    padding-right: 3.33em;

}

.profile-pic {
    width: 9.5em;
    height: 9.5em;
    margin-bottom: 1em;
    border-radius: 50%;
    text-align: center;
}

.headline {
    margin-bottom: 1em;
}

header .highlight {
    font-weight: 400;
    color: rgb(255, 192, 203);
}

.contact {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
    gap: 0.333em;
}

a {
    display: flex;
    align-items: center;
}

.link {
    display: flex;
    width: min-content;
    margin-bottom: 0.333em;
    text-decoration: none;
    gap: 0.5em;
    white-space: nowrap;

    /* For screenshots:  */

    /* color: blue; */
}

.icon {
    max-width: 1em;
    min-width: 1em;
    height: 1em;
    fill: rgb(46, 40, 86);
}

.column-left h2,
.content h2 {
    border-bottom: solid black 1.34px;
}

.headline h2 {
    margin-bottom: 0.133em;
    font-size: 1.25em;
}

li {
    display: flex;
    align-items: center;
    margin-bottom: 0.5em;
    white-space: nowrap;
    gap: 0.5em;
}

.column-right {
    width: 86.6%;
    margin-right: 1em;
}

header {
    margin-bottom: 0.67em;
    padding: 0.67em;
    background-color: rgb(46, 40, 86);
    color: aliceblue;
}

.name {
    font-size: 2em;
}

.pitch {
    max-width: 90%;
    margin-top: 0.1675em;
}

.highlight {
    font-weight: 700;
}

.border-container {
    display: inline-block;
    padding-right: 0.825em;
    border-bottom: aliceblue solid 1.33px;
}

.subtitle {
    width: min-content;
    font-size: 1.25em;
    font-weight: 600;
    white-space: nowrap;
}

.content h2 {
    margin: 0.1675em 0;
    padding: 0 1.1em;
}

.content h4 {
    margin: 0.1675em 0;
}

.content h2 {
    font-size: 1.25em;
}

.occupation {
    display: flex;
    justify-content: space-between;
}

.occupation p {
    text-align: end;
    white-space: nowrap;
}

.description {
    max-width: 80%;
    margin-bottom: 0.75em;
    margin-left: 1.4em;
    font-size: 0.9375em;
}

h4 {
    padding: 0;
    font-size: 90%;
    font-weight: 700;
}

.bullet {
    display: flex;
    align-items: flex-start;
}

.bullet-point {
    width: 1.5em;
    text-align: center;
}

u {
    font-weight: 600;
    text-underline-offset: 0.15em;
}

.location {
    font-style: italic;
    font-weight: 600;
}