*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: red solid 1px; */
}

body {
    background-color: aliceblue;
}

main {
    max-height: 1050px;
    /* min-width: 992px; */
    max-width: 1200px;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    padding-top: 1em;
    padding-bottom: 0.75em;
    margin: 0 auto;
}

.column-left {
    margin-left: 2em;
    min-width: 10.72em;
    width: 13.4%;
    padding-right: 3.35em;
}

.headline {
    margin-bottom: 1em;
}

.profile-pic {
    max-width: 8em;
    border-radius: 50%;
    margin-bottom: 1em;
}

.contact {
    display: flex;
    flex-direction: column;
    gap: 0.335em;
}

.link {
    gap: 0.67em;
    display: flex;
    margin-bottom: 0.335em;
    width: min-content;
    white-space: nowrap;
}

.icon {
    width: 1em;
    height: 1em;
    fill: rgb(46, 40, 86);
}

.column-left h2,
.content h2 {
    border-bottom: solid black 1.34px;
}

.headline h2 {
    font-size: 1em;
    margin-bottom: 0.134em;
}

.abilities .headline p {
    display: flex;
    align-items: center;
    gap: 0.1675em;
    margin: 0.084em;
}

.column-right {
    width: 86.6%;
    margin-right: 0.838em;
}

header {
    padding: 0.67em;
    color: white;
    background-color: rgb(46, 40, 86);
    margin-bottom: 0.67em;
}

h1 {
    font-size: 1.34em;
}

.pitch {
    margin-top: 0.1675em;
}

.border-container {
    display: inline-block;
    border-bottom: white solid 1.34px;
    padding-right: 0.838em;
}

h3 {
    white-space: nowrap;
    width: min-content;
}

.content h2,
.content h4 {
    padding: 0 0.838em;
    margin: 0.1675em 0;
}

.content h2 {
    font-size: 1.25em;
}

.occupation {
    display: flex;
    justify-content: space-between;
}

.occupation p {
    text-align: end;
    white-space: nowrap;
}

.description {
    font-size: 0.9375em;
    max-width: 90%;
    margin-bottom: 0.75em;
    margin-left: 0.75em;
}

h4 {
    font-size: 90%;
    padding: 0;
    font-weight: 700;
}
